DJANGO_ENV=dev
SECRET_KEY=your-secret-key-here
DEBUG=True

ALLOWED_HOSTS=localhost,127.0.0.1

DB_NAME=quizdb
DB_USER=quizuser
DB_PASSWORD=strongpassword
DB_HOST=db
DB_PORT=5432
REDIS_URL=redis://redis:6379/0
